<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>결과</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <style>
        .tb_tree td{
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
<div class="common-result" th:fragment="analysisfrag(analysis)">
    <nav id="sidebar">

        <div class="sidebar-header"><h3>Web-Fist</h3></div>

        <ul class="list-unstyled components">
            <li><a th:href="@{'/webfist/map'}">Home</a></li>
            <li><a th:href="@{'/analysis'}">Analysis</a></li>

            <li><a th:href="@{'/analysis/search'}">Check Result</a></li>

            <ul class="list-unstyled CTAs">
                <li>
                    <a th:href="@{'/webfist/download'}" class="download">Download Excel(.xlsx)</a>
                </li>
            </ul>
        </ul>
    </nav>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var jo =/*[[${jo}]]*/
        /*]]>*/

    </script>
    <script>
        function itemChange(){
            let selectItem = document.getElementById("tid").value;
            let changeItem;

            console.log(selectItem)

            for(key in jo){
                if(selectItem == key){
                    changeItem = jo[key];
                }
            }
            let method = document.getElementById("method");
            method.innerHTML="";
            for(var count = 0; count < changeItem.length; count++){
                var option = document.createElement("option");
                option.value = changeItem[count];
                option.text = changeItem[count];
                method.appendChild(option);
            }
        }
    </script>

    <div id="content" style="padding-left: 50px">
        <!--  사이드바 버튼-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>

        <div id=formdiv>
            <form name="form" method="post" action="/analysis/get">
                <div style="display: inline-block">조사날짜_조사지_측정시간</div>
                <div style="display: inline-block; margin-left: 25px">분석방법</div>
                <br>
                <select name="tid" id="tid" onchange="itemChange()">
                    <option value="none">=== 선택 ===</option>
                    <option th:value="${treel}" th:label="${treel}" th:each="treel : ${treeList}"></option>
                </select>
                <select name="method" style="margin-left: 25px" id="method">
                    <option value="none">=== 선택 ===</option>
                    <!--<option th:value="${methodl}" th:label="${methodl}" th:each="methodl : ${methodList}"></option>-->
                </select>
                <input type="submit" name="sumbit" id="submit" class="btn btn-info" style="height: 100%" value="조회">
            </form>
        </div>



        <div th:if="${data != null}">
            결과창
            <script th:inline="javascript">
                /*<![CDATA[*/
                var data =/*[[${data}]]*/
                /*]]>*/

            </script>
            <table>
                <tr>
                    <td>
                        <table border="2px solid black" class="tb_tree"
                               style=" margin-right: 5px;width:400px; height: 800px" >
                            <tbody style="width:400px;">
                            <tr >
                                <td colspan="2"><h3>분석 결과</h3></td>
                            </tr>
                            <tr>
                                <td><b>나무 아이디</b></td>
                                <td th:text="${data.tid}"></td>
                            </tr>
                            <tr>
                                <td><b>총 이용재적</b></td>
                                <td th:text="${data.totalVolume}"></td>
                            </tr>
                            <tr>
                                <td><b>통나무별<br>이용재적</b></td>
                                <td th:text="${data.logsVolume}" class="logs"></td>
                            </tr>
                            <tr>
                                <td><b>통나무별<br>높이</b></td>
                                <td th:text="${data.logsLength}"class="logs"></td>
                            </tr>
                            <tr>
                                <td><b>통나무별<br>말구직경</b></td>
                                <td th:text="${data.logsEdia}"class="logs"></td>
                            </tr>
                            <tr>
                                <td><b>통나무별<br>기울기</b></td>
                                <td th:text="${data.logsSweep}"class="logs"></td>
                            </tr>
                            <tr>
                                <td><b>총 공제량</b></td>
                                <td th:text="${data.deduction}">테스</td>
                            </tr>
                            <tr>
                                <td><b>분석 방식</b></td>
                                <td th:text="${data.method}"></td>
                            </tr>
                            </td>
                            </tbody>
                        </table>
                    </td>
                    <script>
                        for(i=0; i<4; i++){
                            let td = document.getElementsByClassName("logs")[i];
                            let html =""
                            let string = td.innerText;
                            strarr = string.split(",");
                            console.log(strarr)
                            strarr.reverse();
                            let suffix = ""
                            switch (i){
                                case 0: suffix="n/pixel";break;
                                case 1: suffix="cm"; break;
                                case 2: suffix="cm"; break;
                                case 3:break;
                            }

                            for(j=0;j<strarr.length-1;j++){
                                html+=strarr[j]+" "+suffix+"<br>"
                            }
                            html+=strarr[strarr.length-1]+" "+suffix;
                            console.log(html);
                            td.innerHTML=html;
                        }
                    </script>
                    <td>
                        <div id="img"
                             style="display: inline-block;  width:400px;height:800px; border: 3px solid #000000">
                            <script src="/js/getImg.js"></script>


                            <img th:id="${data.method}" style="width:400px;height:800px;" class="imgbox">
                        </div>
                    </td>
                </tr>
            </table>
            <script>
                getImageList(data.tid, data.method);
            </script>

        </div>
    </div>

</div>

</body>
</html>