<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>조사지 검색</title>
</head>
<body>

<div class="search-place" th:fragment="search-Place-frag(treeList)">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="inputPlaceKeyword"
               placeholder="조사지를 입력하세요">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="search-place-btn">
                검색</button>
            <!--                alert(place); getResult(); return false;-->
        </div>
    </div>
    <style>
        .off-screen {
            display: none;
        }
        #nav {
            width: 100%;
            text-align: center;
        }
        #nav a {
            display: inline-block;
            padding: 3px 5px;
            margin-right: 10px;
            font-family: Tahoma;
            background: #ccc;
            color: #000;
            text-decoration: none;
        }
        #nav a.active {
            background: #333;
            color: #fff;
        }
    </style>
    <div id="resultdiv">
        <div th:if="${searchList != null}">
            <h3 id="h3title"></h3>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var rspPlace = /*[[${place}]]*/ 'default';
                var resultList = /*[[${searchList}]]*/ 'default';
                var treeList = /*[[${treeList}]]*/ 'default';
                var basalAreaList = /*[[${basalAreaList}]]*/ 'defalut';
                var adbh = /*[[${adbh}]]*/ 'defalut';
                var adbh_am = /*[[${adbh_am}]]*/ 'defalut';
                /*]]>*/

                console.log(basalAreaList)

                document.getElementById('h3title').innerHTML = " "+rspPlace + " 검색 결과 ";
                document.getElementById('h3title').innerHTML += resultList.length + " 건"
                        + " 검색되었습니다.";

            </script>
            <div th:if="${searchList != null}">
            <table class="table table-sm table-borderless table-hover" id="table">
                <thead><tr>
                    <th scope="col">TID</th>
                    <th scope="col">표준지</th>
                    <th scope="col">흉고직경</th>
                    <th scope="col">흉고단면적</th>
                </tr></thead>
                <tbod>
                <tr th:each="streel : ${searchList}">
                    <td> <a th:href="@{'/webfist/map/'+${streel.tid}}" th:text="${streel.tid}" class="tid"></a></td>
                    <td th:text="${streel.investigationPlace}"></td>
                    <td class="dbh" th:text="${streel.dbh}"></td>
                    <td th:id="${streel.tid}"></td>
                </tr>
                </tbod>
            </table>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                <script>
                    var rowPerPage = 10;

                    $("#nav").remove();
                    var $table = $("#table");
                    $table.after('<div id="nav">');
                    var $tr = $($table).find("tbody tr");
                    var rowTotals = $tr.length;
                    var pageTotal = Math.ceil(rowTotals / rowPerPage);
                    var i = 0;

                    for (; i < pageTotal; i++) {
                        $('<a href="#"></a>')
                            .attr("rel", i)
                            .html(i + 1)
                            .appendTo("#nav");
                    }

                    $tr.addClass("off-screen").slice(0, rowPerPage).removeClass("off-screen");

                    var $pagingLink = $("#nav a");
                    $pagingLink.on("click", function (evt) {
                        evt.preventDefault();
                        var $this = $(this);
                        if ($this.hasClass("active")) {
                            return;
                        }
                        $pagingLink.removeClass("active");
                        $this.addClass("active");

                        var currPage = $this.attr("rel");
                        var startItem = currPage * rowPerPage;
                        var endItem = startItem + rowPerPage;

                        $tr
                            .css("opacity", "0.0")
                            .addClass("off-screen")
                            .slice(startItem, endItem)
                            .removeClass("off-screen")
                            .animate({ opacity: 1 }, 300);
                    });

                    $pagingLink.filter(":first").addClass("active");

                    //흉고단면적
                    for(key in basalAreaList){
                        let td = document.getElementById(key);
                        num = parseFloat(basalAreaList[key]);
                        num = Math.round(num*10000)/10000
                        td.innerText = num.toString();
                    }
                </script>
                <br><br>
            <table>
                <tr>
                    <td width="200px"><h4><b>평균 흉고단면적</b></h4></td> <td th:text="${aBA}"><h5></h5></td></tr><tr>
                </tr>
                <tr>
                    <td width="200px"><h4><b>1ha 당 흉고단면적</b></h4></td> <td th:text="${baPer1Ha}"><h5></h5></td>
                </tr>
                <tr>
                    <td  width="200px"><h4><b>평균 흉고직경<br>(흉고단면적법)</b></h4></td> <td th:text="${adbh}" ><h5></h5></td>
                    <td width="200px"><h4><b>평균 흉고직경<br>(산술평균법)</b></h4></td> <td th:text="${adbh_am}" ><h5></h5></td>
                </tr>
            </table>

            </div>


            <div id="map" style="width:800px;height:800px;"></div>
            <script>
                // 지도 관련 자바스크립트
                let container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스

                let pos = new Array(resultList[resultList.length - 1].latitude, resultList[resultList.length - 1].longitude)
                let posLatLng = new kakao.maps.LatLng(pos[0],pos[1]);
                if(resultList[resultList.length-1].location!=null) {
                    pos = resultList[resultList.length - 1].location.split(",")
                }
                let options = { //지도를 생성할 때 필요한 기본 옵션
                    center: new kakao.maps.LatLng(pos[0], pos[1]), //지도의 중심좌표.
                    level: 3 //지도의 레벨(확대, 축소 정도)
                };
                let map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

                // 마커를 생성합니다
                var imageSrc = "/icon/treeicon.png";

                adbh = adbh.slice(0,-1);
                adbh_am = adbh_am.slice(0,-1)

                let maxdist=0
                var pos2=null;
                for (var i = 0; i < treeList.length; i ++) {
                    // 마커 이미지의 이미지 크기 입니다

                    var imageSize = new kakao.maps.Size(24, 35);
                    // 마커 이미지를 생성합니다
                    var markerImage = new kakao.maps.MarkerImage("/icon/treeicon.png", imageSize);

                    for(var j=0; j<resultList.length;j++){
                        //treeList는  전체 나무,  resultList는 검색된 조사지의 나무들
                        if(treeList[i].tid == resultList[j].tid) {

                            // adbh 또는 adbh_am의 정수부분이 동일할 시..
                            if(Math.round(resultList[j].dbh) == Math.round(adbh)) {

                                //흉고단면적기준
                                markerImage = new kakao.maps.MarkerImage("/icon/treeiconred.png", imageSize);
                                let id = document.getElementsByClassName("tid");
                                for(var k=0;k<id.length; k++){
                                    if(id[k].innerText == resultList[j].tid){
                                        id[k].innerText +="*"
                                    }
                                }
                            }else if(Math.round(resultList[j].dbh) == Math.round(adbh_am)) {

                                //산술기준
                                markerImage = new kakao.maps.MarkerImage("/icon/treeiconblue.png", imageSize);
                                let id = document.getElementsByClassName("tid");
                                for(var k=0;k<id.length; k++){
                                    if(id[k].innerText == resultList[j].tid){
                                        id[k].innerText +="**"
                                    }
                                }
                            }


                            l1 = new kakao.maps.LatLng(pos[0], pos[1])
                            pos2 = new Array(resultList[j].latitude, resultList[j].longitude);
                            l2 = new kakao.maps.LatLng(pos2[0], pos2[1])


                            line =  new kakao.maps.Polyline({
                                map: map,
                                path:[l1,l2]
                            })

                            var distance = Math.round(line.getLength());
                            if (line) {
                                line.setMap(null);
                                line = null;
                            }
                            if(distance>maxdist)
                            {
                                maxdist=distance;
                            }
                        }
                    }


                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: new kakao.maps.LatLng(treeList[i].latitude, treeList[i].longitude), // 마커를 표시할 위치
                        title : treeList[i].tid, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                        image : markerImage // 마커 이미지
                    });
                    //console.log(marker.getPosition())
                }

                console.log(maxdist)
                var circle = new kakao.maps.Circle({
                    center : new kakao.maps.LatLng(pos[0], pos[1]),  // 원의 중심좌표 입니다
                    radius: maxdist, // 미터 단위의 원의 반지름입니다
                    strokeWeight: 5, // 선의 두께입니다
                    strokeColor: '#75B8FA', // 선의 색깔입니다
                    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                    strokeStyle: 'dashed', // 선의 스타일 입니다
                    fillColor: '#CFE7FF', // 채우기 색깔입니다
                    fillOpacity: 0.5  // 채우기 불투명도 입니다
                });
                circle.setMap(map);
            </script>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

        var investplace ;

        $(document).ready(function () {
                $('#search-place-btn').click(function (){
                    investplace = document.getElementById('inputPlaceKeyword');
                    var place = investplace.value;
                    console.log('검색 버튼 클릭');
                    console.log(place);
                    location.href = "/webfist/map/other/1/" + place.toString();
                });
            }
        );


    </script>


</div>
</body>

</html>